<main class="create-survey">
    <header class="create-survey__header">
        <div class="create-survey__header-left">
            <p class="create-survey__draft">Draft</p>
            <h1 class="create-survey__title">Create new survey</h1>
        </div>
        <div class="create-survey__header-right">
            <button class="create-survey__cancel" type="button" routerLink="/">Cancel</button>
        </div>
    </header>
    <form [formGroup]="surveyForm" (ngSubmit)="submitSurvey()" id="survey-form" class="create-survey__form">
        <div class="create-survey__details">

            <div class="create-survey__details-left">
                <div class="create-survey__field">
                    <label for="survey-name" class="create-survey__label">Survey Name</label>
                    <input type="text" [formControl]="surveyName" id="survey-name" class="create-survey__input">
                </div>

                <div class="create-survey__details-row">
                    <div class="create-survey__field">
                        <label for="survey-enddate" class="create-survey__label">Set End Date (optional)</label>
                        <input [formControl]="surveyDeadline" type="date" id="survey-enddate"
                            class="create-survey__input">
                    </div>
                    <div class="create-survey__category">
                        <button [class.surveys-overview__category-button--selected]="selectedCategory.value !== ''"
                            (click)="toggleCategoryDropdown()" class="surveys-overview__category-button" type="button">
                            Choose category
                            <img [class.surveys-overview__category-arrow--open]="isCategoryDropdownOpen"
                                class="surveys-overview__category-arrow" src="icons/arrow_drop_down.svg" alt="">
                        </button>
                        @if ( selectedCategory.value !== '') {
                        <p class="surveys-overview__selected-category">
                            {{ selectedCategory.value }}
                        </p>
                        }
                        @if (isCategoryDropdownOpen) {
                        <div class="surveys-overview__category-menu">
                            <button type="button" class="surveys-overview__category-option"
                                (click)="switchCategory('Health & Wellness')">Health &
                                Wellness</button>
                            <button type="button" class="surveys-overview__category-option"
                                (click)="switchCategory('Gaming & Entertainment')">Gaming & Entertainment</button>
                            <button type="button" class="surveys-overview__category-option"
                                (click)="switchCategory('Education & Learning')">Education & Learning</button>
                            <button type="button" class="surveys-overview__category-option"
                                (click)="switchCategory('Team Activities')">Team Activities</button>
                            <button type="button" class="surveys-overview__category-option"
                                (click)="switchCategory('Lifestyle & Preferences')">Lifestyle & Preferences</button>
                            <button type="button" class="surveys-overview__category-option"
                                (click)="switchCategory('Technology & Innovation')">Technology & Innovation</button>
                        </div>
                        }
                    </div>
                </div>
            </div>


            <div class="create-survey__details-right">
                <div class="create-survey__field">
                    <label for="survey-description" class="create-survey__label">Survey Description (optional)</label>
                    <textarea [formControl]="surveyDescription" id="survey-description"
                        class="create-survey__textarea"></textarea>
                </div>
            </div>
        </div>

        <div class="create-survey__questions">

            @for (question of questions.controls; track question; let questionIndex = $index) {
            <fieldset [formGroup]="question" class="create-survey__question">
                <legend id="question-{{$index + 1}}-heading"> {{ $index + 1 }}. Question</legend>
                <input formControlName="questionText" class="create-survey__input" type="text"
                    id="question-{{$index + 1}}-text" aria-labelledby="question-{{$index + 1}}-heading"
                    placeholder="Which date would work best for you?">
                <button (click)="removeQuestion(questionIndex)" [disabled]="questions.length <= 1" type="button">Delete
                    Question</button>

                <div class="create-survey__answers">

                    <div class="create-survey__answers-header">
                        <p>Answers</p>
                        <input formControlName="multipleAnswers" id="question-{{$index + 1}}-multiple" type="checkbox">
                        <label for="question-{{$index + 1}}-multiple" class="create-survey__label">Allow multiple
                            answers</label>
                    </div>

                    <div formArrayName="answers">
                        @for (answer of getAnswers(questionIndex).controls; track answer; let answerIndex = $index) {
                        <div class="create-survey__answer">
                            <label for="question-{{questionIndex + 1}}-answer-{{answerIndex + 1}}"
                                class="create-survey__label">{{ letter[answerIndex]}}</label>
                            <input class="create-survey__input" type="text"
                                id="question-{{questionIndex + 1}}-answer-{{answerIndex + 1}}"
                                [formControlName]="answerIndex">
                            <button type="button" (click)="removeAnswer(questionIndex, answerIndex)"
                                [disabled]="getAnswers(questionIndex).length < 2">Delete</button>
                        </div>
                        }
                    </div>
                </div>


                <div class="create-survey__add-answer">
                    <button [disabled]="getAnswers(questionIndex).length > 5" (click)="addAnswer(questionIndex)"
                        type="button" class="create-survey__add-answer-btn">Add
                        Answer</button>
                </div>

            </fieldset>
            }
        </div>

        <button (click)="addQuestion()" type="button" class="create-survey__add-question">Add Next Question</button>



        <button type="submit" class="create-survey__publish">Publish</button>

        <button type="button" (ngSubmit)="submitSurvey()">Test</button>
    </form>
</main>